:root {
  --body-size: 1440px;
  --container-size: 1200px;
  --calendar-size: 550px;
  --gap: 30px;
  --body-color: #0f172a;
  --selection-color: #b4d5fe;
  --first-hoidap247-color: #e7b712;
  --second-hoidap247-color: #458ea7;
  --third-hoidap247-color: #79cf90;
  --text-color: white;
  --close-color: #fd3d24;
  --scroll-color: #d9d9d9;
  --primary-font: "Montserrat", sans-serif;
  --birthday-font: "Lobster", cursive;
}
